<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <variable name="appName" value="HML.HealthSurveillance.WebAPI" />
  <variable name ="logRootFolder" value ="C:\Logs" />

  <targets>
    <!-- add your targets here -->

    <target xsi:type="File" name="f"
            layout="${longdate} ${level:uppercase=true} ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${logRootFolder}\${appName}\${shortdate}.log"
            keepFileOpen="false"
            archiveFileName="${logRootFolder}\${appName}\${shortdate}.{##}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            maxArchiveFiles="28"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" minlevel="Trace" writeTo="f" />
  </rules>
</nlog>