<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HmlOnline" connectionString="data source=PC4796\SQLEXPRESS;initial catalog=HMLDatabase;persist security info=True;user id=??;password=???;multipleactiveresultsets=True;application name=HML.Employee.WebAPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>